.node{
    width: 30px;
    height: 30px;
}
.path{
   
    border: 1px solid black;
    background-color: white;
}
.wall{
   
    border: 1px solid black;
    background-color: black;
}
.shortestPath{
    border: 1px solid #000000;
    background-color: #2d60b3;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 800ms linear;
    
}
.visitedPath{
    border: 1px solid black;
    background-color: #748a8c;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 80ms linear;

}
.start{
    border: 1px solid black;
    background-color:green;
}
.end{
    border: 1px solid black;
    background-color:red;
}